
mat-chip-set {
  margin: 16px 0;
}

button {
  margin-bottom: 16px;
}

.status-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.exercise3-di-container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
